
					h1 {
						font-family: cursive;
					}
					#lolas-banner {
						position: absolute;
						right: 750px;
						top: 30px;
					}
					#top-banner {
						background-color: rgb(255, 178, 255);
						margin: 30px;
						padding-top: 50px;
						padding-bottom: 50px;
						padding-left: 100px;
					}
					#main-page {
						text-align: center;
						width: 60%;
						padding-left: 380px;	
						padding-right: 380px;
						font-family: "Arial", sans-serif;
					}
					p, #main-page {
						font-size: 18px;
					}
